/*// TODO: Reorganize this code*/

#main {
	/**/
	/*border    : 1px red solid;*/
	width     : 80%;
	/**/
	position  : absolute;
	left      : 50%;
	transform : translateX(-50%);
	}

.top {
	/**/
	display          : flex;
	flex-direction   : row;
	position         : relative;
	/**/
	width            : 100%;
	height           : 5.0vw;
	border-radius    : 0.5vw;
	padding          : 0.3vw;
	/**/
	background-color : rgba(127, 127, 127, 0.5);
	/**/
	font-family      : "DejaVu Sans";
	font-size        : 2vw;
	}

.list {
	display          : flex;
	margin-top       : 0.25vw;
	margin-bottom    : 0.25vw;
	border           : 1px solid #add8e6;
	background-color : transparent !important;
	}

.list_title {
	width: 100% !important;
	margin-left: 1.0vw;
	/* border: 1px red solid; */
	line-height: 100%;
	/* padding: 0; */
	top: 50%;
	transform: translateY(-17%);
	display: inline-flex;
	position: relative;
	}

.list_rating {
	width : 30% !important;
	}

.list_actions {
	/*width*/
	}

.list_item{
	/*border: 1px solid #0000ff;*/
	display          : flex;
	flex-direction   : row;
	position         : relative;
	/**/
	width            : 100%;
	height           : 5.0vw;
	border-radius    : 0.5vw;
	padding          : 0.3vw;
	/**/
	/*background-color : rgba(127, 127, 127, 0.5);*/
	/**/
	font-family      : "DejaVu Sans";
	font-size        : 2vw;
	}


#title {
	display      : inline-flex;
	position     : relative;
	width        : 100%;
	margin-left  : 1.0vw;
	margin-right : 0;
	font-size    : inherit;
	font-family  : inherit;
	}

.label {
	border-radius    : 0.5vw 0 0 0.5vw;
	background-color : #d3d3d3;
	padding          : 0.5vw;
	color            : #91853b;
	/*font-weight      : bold;*/
	}

input {
	display          : inline-flex;
	width            : 80%;
	height           : 3.5vw;
	font-size        : inherit;
	font-family      : inherit;
	outline          : none;
	border           : transparent;
	border-radius    : 0.5vw;
	color            : #ffffff;
	background-color : #aaaaaa;
	/*background-color : #e0f8e0;*/
	}

input:hover {
	color            : #ffffff;
	background-color : #b8b069;
	box-shadow       : 0.3vw 0.3vw 0.4vw #91853b;
	}

.rating {
	/*display      : flex;*/
	position     : relative;
	width        : 30%;
	padding      : 0;
	/*border       : 1px black solid;*/
	margin-left  : 2%;
	margin-right : 2%;
	font-size    : inherit;
	font-family  : inherit;
	}

.star {
	display : inline-block;
	width   : 2.8vw;
	height  : 2.8vw;
	opacity : 0.3;
	}

.actions {
	display      : inline-flex;
	position     : relative;
	margin-right : 1vw;
	min-width    : 5.0vw;
	/*border       : 3px green solid;*/
	text-align   : right;
	font-size    : inherit;
	font-family  : inherit;
	line-height  : 100%;
	}


/*
 ADD BUTTON
 */

.add_bt {
	border-radius : 0.5vw;
	padding       : 0.5vw;
	font-size     : 3.0vw;
	}

.add_bt_disabled {
	color            : #cccccc;
	background-color : #aaaaaa;
	cursor           : default;
	}

.add_bt_enabled {
	/*padding          : 1.0vw;*/
	/*border-radius    : 2.0vw;*/
	color            : #cccccc;
	background-color : #b8b069;
	cursor           : pointer;
	}

.add_bt_enabled:hover {
	color            : #ffffff;
	background-color : #b8b069;
	box-shadow       : 0.3vw 0.3vw 0.4vw #91853b;
	}

/*
	REMOVE BUTTON
 */
.remove_bt {
	border-radius    : 0.5vw;
	height           : 70%;
	width            : 70%;
	font-size        : 4.0vw;
	color            : #db5454;
	cursor           : pointer;
	line-height      : 100%;
	text-align: center !important;
	margin           : 0.5vw;
	}

.remove_bt:hover {
	box-shadow : 0.3vw 0.3vw 0.4vw #913b3b;
	}

/* General Use */

.bright {
	opacity : 1.0 !important;
	}

.left0 {
	position : absolute;
	left     : 0;
	}

.right0 {
	position : absolute;
	right    : 0;
	}

/* CENTER */

.hcenter {
	position  : absolute;
	left      : 50%;
	transform : translateX(-1000%);
	}

.vcenter {
	position  : absolute;
	top       : 50%;
	transform : translateY(-50%);
	}

.hvcenter {
	position  : absolute;
	top       : 50%;
	left      : 50%;
	transform : translate(-50%, -50%);
	}

/**/

.h25-vcenter {
	position  : absolute;
	top       : 50%;
	left      : 25%;
	transform : translate(-25%, -50%);
	}

.h75-vcenter {
	position  : absolute;
	top       : 50%;
	left      : 75%;
	transform : translate(-75%, -50%);
	}

/* Something is not right here */
.h81-vcenter {
	position  : absolute;
	top       : 50%;
	left      : 75%;
	transform : translate(-80.5%, -50%);
	}

#copyright{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	font-style: italic;
	font-size: 0.3vm;
	color: #91853b;
	font-family: "Purisa" ;
	}
